<%= form_with model: @project, local: true do |f| %>
 <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: 'form-control',id: 'project_title' %>
 </div>
 <div class="form-group">
    <%= f.label :body, '詳しい内容' %>
    <%= f.text_area :body, row: 5, class: 'form-control',id: 'project_body' %>
 </div>

 <%= f.submit nil,class: 'btn btn-primary' %>
 <% end %>
