<h1>プロジェクトの詳細</h1>

<div class="nav justify-content-end">
  <%= link_to '一覧',projects_path, class: 'nav-link' %>
</div>

<table class="table table-hover">
  <tbody>
      <tr>
        <th>ユーザー名</th>
        <th><%= @project.user.name %></th>
      </tr>
      <tr>
        <th>タイトル</th>
        <th><%= @project.title %></th>
      </tr>
      <tr>
        <th>詳しい内容</th>
        <th><%= @project.body %></th>
      </tr>

      <tr>
        <th>登録日時</th>
        <th><%= @project.created_at.strftime("%Y-%m-%d %H:%M") %></th>
      </tr>
      <tr>
        <th>更新日時</th>
        <th><%= @project.updated_at.strftime("%Y-%m-%d %H:%M") %></th>
      </tr>
  </tbody>
</table>

<% if current_user == @project.user %>
  <%= link_to '編集',edit_project_path(@project),class: 'btn btn-primary mt-2' %>
  <%= link_to '削除',@project,method: :delete,data: { confirm: "タスク「#{@project.title}」を削除します。よろしいですか？" },class: 'btn btn-danger mt-2' %>
<% end %>
